<mat-card>
<span><b>Створити новий запис товару</b></span>

<form class="new-product-form" [formGroup]="productForm" (ngSubmit)="onSubmit()">

  <!--<mat-form-field class="new-product-field">
    <input matInput placeholder="Product id" formControlName="id" />
  </mat-form-field>-->

  <mat-form-field class="new-product-field">
    <input matInput placeholder="Назва товару" formControlName="name" />
  </mat-form-field>

  <mat-form-field class="new-product-field">
    <input matInput placeholder="Опис товару" formControlName="description" />
  </mat-form-field>

  <mat-form-field class="new-product-field">
    <mat-select placeholder="Наявність в магазині" formControlName="isStore">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.display}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="new-product-field">
    <mat-select placeholder="Наявність на складі" formControlName="isStock">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.display}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field class="new-product-field">
    <input matInput placeholder="Загальна кількість товару" formControlName="count" />
  </mat-form-field>

  <mat-form-field class="new-product-field">
    <input matInput placeholder="Кількість товару в магазині" formControlName="countStore" />
  </mat-form-field>

  <mat-form-field class="new-product-field">
    <input matInput placeholder="Кількість товару на складі" formControlName="countStock" />
  </mat-form-field>

  <mat-form-field class="new-product-field">
    <input matInput placeholder="Колір виробу" formControlName="color" />
  </mat-form-field>

  <mat-form-field class="new-product-field">
    <input matInput placeholder="Розмір виробу" formControlName="size" />
  </mat-form-field>

  <mat-form-field class="new-product-field">
    <input matInput placeholder="Кількість товару, який замовлено" formControlName="ordered" />
  </mat-form-field>

  <mat-form-field class="new-product-field">
    <input matInput placeholder="Коментарі та зауваження" formControlName="comment" />
  </mat-form-field>

  <button mat-raised-button [disabled]="!productForm.valid" class="create">Створити </button>

</form>
</mat-card>
