<mat-toolbar color="primary">
  <button mat-button routerLink="/"><b>Головна</b></button>
  <button mat-button routerLink="/products"><b>Товари</b></button>
  <button mat-button routerLink="/new-product"><b>Створити новий</b></button>

  <span style="flex: 1 1 auto"></span>
  <button mat-button *ngIf="auth.isAuthenticated">Ласкаво просимо, {{auth.getUserName}}</button>
  <button mat-button *ngIf="auth.isAuthenticated" (click)="auth.logout()"><b>Вийти</b></button>
  <button mat-button routerLink="/register"><b>Реєстрація</b></button>
  <button mat-button *ngIf="!auth.isAuthenticated" routerLink="/login"><b>Увійти</b></button>
</mat-toolbar>
