<h2 mat-dialog-title class="update">Редагування характеристик товару</h2>

<mat-dialog-content [formGroup]="form">
  <!--<mat-form-field class="new-product-field">
    <input matInput placeholder="Product id" formControlName="id" />
  </mat-form-field>-->

  <mat-form-field class="new-product-field">
    <input matInput placeholder="Назва товару" formControlName="name" />
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <input matInput placeholder="Опис товару" formControlName="description" />
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <mat-select placeholder="Наявність в магазині" formControlName="isStore">
      <mat-option *ngFor="let type of Types" [value]="type.value">
        {{type.display}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <mat-select placeholder="Наявність на складі" formControlName="isStock">
      <mat-option *ngFor="let type of Types" [value]="type.value">
        {{type.display}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <input matInput placeholder="Загальна кількість товару" formControlName="count" />
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <input matInput placeholder="Кількість товару в магазині" formControlName="countStore" />
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <input matInput placeholder="Кількість товару на складі" formControlName="countStock" />
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <input matInput placeholder="Колір товару" formControlName="color" />
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <input matInput placeholder="Розмір товару" formControlName="size" />
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <input matInput placeholder="Кількість товару, який було замовлено" formControlName="ordered" />
  </mat-form-field>
  <br />
  <mat-form-field class="new-product-field">
    <input matInput placeholder="Коментарі та зауваження" formControlName="comment" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button close" (click)="close()">Закрити</button>&nbsp;
  <button class="mat-raised-button save" (click)="save()">Зберегти</button>
</mat-dialog-actions>
