<mat-card>
  <mat-card-header>
    <mat-card-title>Ви впевнені, що хочете видалити цей товар?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <b>Id:&nbsp;</b><span class="deleteItem">{{product.id}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <b>Назва товару:&nbsp;</b><span class="deleteItem">{{product.name}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <b>Опис товару:&nbsp;</b><span class="deleteItem">{{product.description}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <b>Загальна кількість:&nbsp;</b><span class="deleteItem">{{product.count}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <b>Кількість в магазині:&nbsp;</b><span class="deleteItem">{{product.countStore}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <b>Кількість на складі:&nbsp;</b><span class="deleteItem">{{product.countStock}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <b>Колір товару:&nbsp;</b><span class="deleteItem">{{product.color}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item>
        <b>Розмір товару:&nbsp;</b><span class="deleteItem">{{product.size}}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-flat-button class="cancel" (click)="cancel()"><b>Відмінити</b></button>
    <button mat-raised-button class="confirm" (click)="confirm()"><b>Підтвердити</b></button>
  </mat-card-actions>
</mat-card>
