table {

  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;

}
.edit {
  color: white;
  background-color: darkslateblue;
  margin-bottom: 5px;
}
.delete {
  color: white;
  background-color: firebrick;
  /*background-color: cornflowerblue;*/
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}
