table {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.mat-header-cell {
  color: darkslateblue;
  font-weight: bold;
  font-family: Verdana;
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.mat-paginator {
  color: darkslateblue;
  font-weight: bold;
  font-family: Verdana;
}

.mat-form-field {
  color: darkslateblue;
  font-weight: bold;
  font-family: Verdana;
}

.edit {
  color: white;
  background-color: darkslateblue;
  margin-bottom: 5px;
}

.delete {
  color: white;
  background-color: firebrick;
  /*background-color: cornflowerblue;*/
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

