<mat-card>
  <span class="createRegister">Створити новий обліковий запис</span>
   <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput minLength="3" placeholder="Ім'я користувача (не менше 3 символів)" formControlName="userName" required/>
    </mat-form-field>
    <br />

    <mat-form-field>
      <input matInput placeholder="Ввести пароль (не менше 5 символів)" formControlName="password" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <input matInput placeholder="Підтвердити пароль" formControlName="confirmPassword" />
    </mat-form-field>
    <br />

    <span *ngIf="registerForm.errors?.matchingFields">Пароль не підтверджено</span>&ngsp;

    <button mat-raised-button class="register" [disabled]="!registerForm.valid"><b>Зареєструватися</b></button>
  </form>
</mat-card>
