<mat-card>
  <span class="createRegister">Створити новий обліковий запис</span>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Ім'я користувача" formControlName="userName" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <input matInput placeholder="Ввести пароль" formControlName="password" />
    </mat-form-field>
    <br />

    <mat-form-field>
      <input matInput placeholder="Підтвердити пароль" formControlName="confirmPassword" />
    </mat-form-field>
    <br />

    <span *ngIf="registerForm.errors?.matchingFields">Пароль не підтверджено</span>&ngsp;

    <button mat-raised-button class="register" [disabled]="!registerForm.valid"><b>Зареєструватися</b></button>
  </form>
</mat-card>
